:root {
    background-color: white;
}

#boardContainer {
    display: flex;
}

.seprator {
    background: grey;
    height: inherit;
    width: 2px;
    margin-right: 20px;
    ;
}

.headline {
    font-size: 5vh;
}

.infoContainer {
    font-size: 2vh;
    font-weight: 800;
    font-family: "lato";
}